body{
background-color:orange;
text-align:center;
background-image:url('IMG/code3.jpg');
background-repeat:no-repeat;
background-size:cover;
color:white;
}

#heading{
 text-decoration:none ;
 color:black;
 text-decoration-color:rgb(59, 39, 18);
 text-transform:uppercase;
 font-family:Papyrus;
 font-size:2em ;
 color:white;
}  

.twit{
background-color:rgba(0, 0, 0,0.30);
height:300px;
width:250px;
border:black solid 2px;
box-shadow: 5px 5px 7px  rgb(51, 119, 255);
text-align:center;
padding-top:30px;

border-radius:30px;
color:white;
}

p{
font-size:20px;

}

#l1{
text-decoration:none ;
color:white;
text-transform:uppercase;
font-size:2em ;
border:rgb(102, 51, 0) solid 1px;
padding:10px;
background-color:rgb(102, 51, 0);
border-radius:30px;
box-shadow: 5px 5px 7px  rgb(102, 0, 51);
}

.insta{
background-color:rgba(0, 0, 0,0.30);
height:300px;
width:250px;
border:black solid 2px;
box-shadow: 5px 5px 7px  rgb(51, 119, 255);
text-align:center;
padding-top:30px;
margin-left:200px;
border-radius:30px;
color:white;

}

 