body{

background-color:white;
color:black;
}

.a1{

background-image:url('./img/ff1.jpg');
background-size:cover;
background-repeat:no-repeat;
height:800px;
width:100%;


}


#img1{

padding-left:50px;
padding-top:300px;

}

table{

padding-top:50px;
padding-left:40px;
}

#size{
font-size:70px;

}

.heading{

font-family:Copperplate;
font-size:25px;

}

.head1{

border:solid 3px black;
padding:px;
font-size:25px;
}

#size{

font-family:latest;
font-size:50px;

}
@font-face
{
font-family:latest;
src:url("./fonts/Darkcastle_PERSONAL_USE_ONLY.otf")}




