body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height:50vh;
    background-color: rgb(254, 254, 254);
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    margin: 10px;
    text-align:center;
}

img{
    height:auto;
    width: 300px;
    margin:10px;
    border-radius: 10px;
}